.Layout {
  display: grid;
  grid-template-rows: 1fr 5fr;
  height: 100%;
}

.Layout > header {
  grid-row: 1;
}

.Layout > main {
  grid-row: 2 / span 2;
  overflow: auto;
}

.Layout > * {
  border: 1px dashed lightcoral;
}
